body {

    background-color: #BED3C3;
    height: 100%;
 }

    #form-container {

        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      
    }

    #form-inner-container {

        background-color: white;
        width:auto;
        height:auto;
        border-radius: 8px;
        box-shadow: 0 0 20px gainsboro;
    
    }

    #sign-up-container {

        padding: 50px 50px;
         width: 400px;
         text-align: top left;
     
     }
    form input[type=text],input[type=email], input[type=password]{

        display: block;
        margin-bottom: -10px;
        border: 1px solid #E5E9F5;
        background-color: #F6F7FA;
        padding: 10px;
        margin-top: -10px;
        border-radius: 10px;
        width:100%
    
    }

    #form-controls button {

        border: none;   
        font-size: 110%;
    }
    
    input[type=submit] {
        background-color: #EBACA2;
        color: white;
        padding: 10px 10px;
        margin: 5px 0;
        border: 10px;
        border-radius: 10px;
        width: 100%;
       }

    input[type=submit]:hover {
        background-color: #CE6A6B;
        color: white;
        border: 1px solid #CE6A6B;
       }
    
 
    
   
    .logo-img {
        max-width:200px; 
        height: auto;
        display: block; 
        margin: 0 auto;
    }

    .signup-heading {
        text-align: center; 
        font-size: 40px; 
        margin-bottom: 10px;
        color: #CE6A6B;
    }

   
