

#Books{
        display:flex;
        background-color: #F7F6CF;
}


.grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
        gap: 10px; /* gap between grid items */
        margin: 50px;
    }
    
    .grid-item {
        background-color: #D4D3DC;
        padding: 20px;
        text-align: center;
        display: grid;
        place-items: center;
    }

    #image{
        width:250px;
        height :300px;
        display: center;

    }

    .title{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         }
    .description{
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .price{
        margin-top:auto ;
        margin-right: 20px;
        font-size:larger;
       
        
    }
    .button{
        margin-top: auto;
        font-size: larger;
        background-color:#4A919E ;
    }
    .rating{
        margin-top: -10px;
    }
    .star {
        cursor: pointer;
        color: gray;
    }
    
    
    .star:hover,
    .star.active , .rated{
        color: gold;
    }

    