/* Global Styles */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgba(235,172,162,0.8),rgba(235,172,162,0.8)), url(../admin/Uploadimage/bookBacground.jpg);
    color: #212E53;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #EBACA2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col-md-6 {
    width: 100%;
    max-width: 400px;
}

/* Form Styles */
.form-label {
    color: #4A919E;
    font-weight: bold;
}

.input-field, .file-upload-container {
    margin-bottom: 20px;
}

input[type="text"], input[type="file"], button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="file"]:focus {
    outline: none;
    border-color: #CE6A6B;
}

button[type="submit"], .file-custom-button {
    width: 100%;
    background-color: #4A919E;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:hover, .file-custom-button:hover {
    background-color: #212E53;
}

/* Table Styles */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #BED3C3;
}

th {
    background-color: #4A919E;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #EBACA2;
    cursor: pointer;
}

/* Image Styles */
td img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.deletebtn {
    background-color: #f44336; 
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.deletebtn:hover {
    background-color: #da190b; 
}

/* Header Styles */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #CE6A6B;
    padding: 20px;
    color: #fff;
    height: 70px;
}

.main-header .logo img {
    width: 140px;
    height: 90px;
}

.main-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main-header nav ul li {
    display: inline;
    margin-right: 20px;
}

.main-header nav ul li a {
    text-decoration: none;
    color: #fff;
}

.admin-actions a {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
}

